<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.dao.ContentMapper">
	<resultMap type="com.team2.database.ContentInfoObject" id="ContentResultMap">
        <result property="idx" column="IDX"/>
        <result property="title" column="TITLE"/>
        <result property="desc" column="CONTENTS"/>
        <result property="filename" column="FILENAME"/>
        <result property="filepath" column="FILEPATH"/>
        <result property="del_yn" column="DEL_YN"/>
        <result property="reg_date" column="REG_DATE"/>
        <result property="upd_date" column="UPD_DATE"/>
        <result property="reg_email" column="REG_EMAIL"/>
        <result property="is_modifying" column="IS_MODIFYING"/>
    </resultMap>
 
    <select id="getBoardList" resultMap="ContentResultMap">
        SELECT * FROM CONTENTS_INFO
    </select>

    <!-- Contents Info 테이블에 추가 (예린)  -->
    <insert id="insertContent" parameterType="hashmap" >
        INSERT INTO CONTENTS_INFO 
        	(IDX, TITLE, CONTENTS, FILENAME, FILEPATH, DEL_YN, REG_DATE, UPD_DATE, REG_EMAIL, IS_MODIFYING)
        VALUES(content_cnt_seq.nextval,
        	   #{title},
        	   #{desc},
        	   'filename',
        	   'wiki/file/src/'||'F_'||content_cnt_seq.nextval,
        	   'N',
        	   SYSDATE,
        	   SYSDATE,
        	   #{reg_email},
        	   'N')
    </insert>
    
    <!-- 게시물 수정 (예린)  -->
    <update id="updateContent" parameterType="hashmap" >
    	UPDATE CONTENTS_INFO 
			SET title = #{title}, 
			    contents = #{desc}, 
			    upd_date = SYSDATE,
			    reg_email = #{reg_email},
			    is_modifying = 'N'
		  WHERE idx = #{idx}
    </update>
    
    <!-- 게시물 삭제 (예린)  -->
    <delete id="deleteContent" parameterType="com.team2.database.ContentInfoObject" >
        DELETE FROM CONTENTS_INFO WHERE(idx = #{idx}) AND (reg_email = #{reg_email}) AND (is_modifying = 'N')
    </delete>
    
    <select id="searchContentByIdx" parameterType="com.team2.database.ContentInfoObject" resultMap="ContentResultMap">
       SELECT * FROM CONTENTS_INFO WHERE (idx = #{idx})
    </select>
    
    <select id="searchContentByKeyword" parameterType="string" resultMap="ContentResultMap">
       SELECT * 
  		 FROM CONTENTS_INFO
  		WHERE UPPER(TITLE) LIKE '%'||UPPER(#{keyword})||'%'
    </select>
    
    
</mapper>