/* Copyright �좑옙Northwoods Software Corporation, 1998-2013. All Rights Reserved. */

body {
  font-family: sans-serif;
  font-size: 13px;
}
.diagramContainer {
  border : solid 4px black;
}


#make_canvas{
	
	margin: 50px 0px 0px 0px;
}



/* new: */

#canvas_data{
	
	margin : 130px 0px 0px 20px; 
}

#canvas_data h3{
	
	color : black;
}

#sample {
  margin: 50px 0px 0px 20px;
}

#menu {
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 4px;
  margin-right: 5px;
  background-color: #F9F9F9;
  width: 120px;
  float: left;
  
}

#sections {
  list-style-type: none;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  line-height: 1.5em;
}

a { text-decoration: none; }

a li { color: #0645AD; }
a li:hover, a li:focus { background: #CEDFF2; }
a li.selected { background: dodgerblue; color: white }


/*
For highlight.js
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/



